spring:
  profiles:
    active: local
    include: secret

jwt:
  key:
    access: base64 인코딩된 key
    refresh: base64 인코딩된 key
  max-age:
    access: 1800 # 60 * 30
    refresh: 604800 # 60 * 60 * 24 * 7


